.buscadorContainer {
	display: flex;
	justify-content: center;
}

.buscadorBox {
	position: relative;
	width: 250px;

}

.buscadorInput {
	height: 35px;
	border: 1px solid black;
	border-radius: 10px;
	padding: 5px 30px 5px 10px;
}

.buscadorButton {
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
	height: 100%;
	border: none;
	border-left: 1px solid black;
	background: none;
}
