.imgCard{
    width: 10rem;
    height: auto;
    padding: 10%;
    justify-content: center;
}

.nameCard{
    text-align: center;
    color: black;
    font-weight: bolder;
    font-size: 2rem;
    justify-content: center;
}

