.link {
    margin-right: 1%;
}
  
.itemCarrusel{
    width: 70%;
    margin-inline: 15%;
    padding-inline: 10%;
    margin-top: 5%;
    background-color: rgb(19, 19, 19);
    margin-bottom: 5%;
}
  
.titulo{
    text-align: center;
}

.noticias{
    display: flex;
    column-gap: 5%;
    justify-content: center;
    margin-top: 2.5%;
    margin-bottom: 7.5%;
}

.parrafo{
    margin-inline: 5%;
}

.footer{
    text-align: center;
    margin-bottom: 2.5%;
}

